body{
    background-image: url(../img/fondo.jpg);
    height:100vh;
    width: 100%;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.navbar{
    background-color: #040D12;
}

.navbar-brand{
    color: beige;
    font-size: 170%;
}

.de{
    padding: 10px; 
    margin: 5% 5% 5%;
    float: right; 
    width: 90%; 
    text-align: left;
    color: beige;
    background-color: #040D12;
    border-radius: 15px;
}

.izq{ 
    float: left;  
    width: 10%;
    text-align: justify;
}

.der{
    float: right; 
    width: 45%;
    text-align: left;
    color: beige;
    margin-top: 1%;
    font-size: 200%;
}

.img{
    border-radius: 100%;
    width: 450%;
    margin: 20%;
}

.de2{
    padding: 10px; 
    margin: 0 5% 5%;
    float: right; 
    width: 90%; 
    text-align: left;
    color: beige;
    background-color: #040D12;
    border-radius: 15px;
}

.pala{
    margin: 1% 1% 1%;
    font-size: 200%;
}